<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid19</title>
    <head>Covid Statistics</head>
    {% block head %}{% endblock %}
</head>
<body>
   <form action="/" method="POST">
    <input type='text' name=content id='content'>
    <input type="submit" value="Get Cases">
</form>
<a href="{{ url_for('about')}}">About Covid-19</a>

{% for key in cases %}
<table>
    <tr>
        <td>{{key}}</td>
        <td>:</td>
        <td>{{cases[key]}}</td>
    </tr>
</table>
{% endfor %}
</div>
{% block body %}{% endblock %}
</body>

</html>